pipeline/FactLoad.json
{
	"name": "FactLoad",
	"properties": {
		"activities": [
			{
				"name": "Loop_Blob_Delete",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata').output.exists,false)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Trigger_Blob_Init_delete",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-25.centralus.logic.azure.com:443/workflows/04d0be20abbc46098110af9bf2875675/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HWSxtJTN7IEbKGYN54Hl0EIINRc-WcEzkDEel_U7b_I",
								"method": "POST",
								"body": {
									"blobname": "refined/Init"
								}
							}
						},
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Trigger_Blob_Init_delete",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						},
						{
							"name": "Get Metadata",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Wait",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "blobdataset",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Copy Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Loop_Blob_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSetting",
							"recursive": true,
							"wildcardFileName": "*.*"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSetting"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "blobShipfct",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "blobdataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}